<div class="row">
	<div class= "col s12 m12 l12 xl12 card-panel purple darken-1">
		<h1>Admin</h1>

		<div class="row">
			<div class=" col s12 m12 l12 xl12 card-panel purple darken-1" id="blogContainer">
				
				<h1 class="center-align purple darken-1 white-text">Blog Posts</h1>

				{{#for each}}
				<div class="container">
					<div class="row">
						<div class="col s12 m12 l12 xl12 offset-m1" id="blog-entries">
							<div class="card-panel light-blue lighten-5">
								<div class="section">
									<h4 class="grey-text" id="blogtitle">Title</h4>
								</div>
								<div class="divider"></div>
								<div class="section">
									<p id="blogtext">BLOG BODY</p>
								</div>
								<div class="divider"></div>
								<div class="section">
									<p id = "authortext">AUTHOR</p>
								</div>
								<div class ="row">
									<a class="btn-floating waves-effect green lighten-2 btn update" ><i class="material-icons">edit</i></a>

									<a class="btn-floating waves-effect pink darken-2 btn delete" ><i class="material-icons">close</i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}

			</div>
		</div>


	</div>
</div>

<!-- import postBlog.js -->
<script src="../public/assets/js/postBlog.js" type="text/javascript"></script>