@font-face {
  font-family: 'Lobster', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Wendy-One', sans-serif;
  Red: #8A0D00
  Gold: #FCEF3F
}

body {
	
	height: 100%;
	background: url('../img/wingsFull2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;	
	font-style: italic;
	background-color: pink;
	color: pink;
	
}

h1 {
	font-family: 'Pacifico';
	color:red;
	text-align: center;
}


/*h2 {
  
  font-family:'Wendy-One';
  text-align: center;
  text-shadow: bold;
}
*/
h3 {
	color:blue;
	text-align: center;
}

h4 {
	/*background-color: blue;*/
	color: #424242
	text-align: center;


}

h5{
	color:red;
}

#Wings {

	font-family: 'Dancing Script', cursive;
	font-color: purple;
	font-size: 70px;
	padding-bottom: 40px;
	padding-top: 20px;
	margin-top: 40px;
	text-shadow: 2px 2px #d1d1e0;
}

}