@font-face {
  font-family: 'Lobster', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Wendy-One', sans-serif;
  Red: #8A0D00
  Gold: #FCEF3F
}

body {
	
	height: 100%;
	background: url('../img/clouds.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;	
	color:red;
	font-style: italic;
	
}

h1 {
	font-family: 'Pacifico';
	color:red;
	text-align: center;
}

/*TITLE*/

h2 {
  
  font-family:'Wendy-One';
  text-align: center;
  text-shadow: bold;
}

h3 {
	color:blue;
	font: center;

}

h5{
	color:red;
}