@font-face {
  font-family: 'Lobster', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Wendy-One', sans-serif;
  Red: #8A0D00
  Gold: #FCEF3F
}

body {
	
	height: 100%;
	background: url('../img/wingsFull2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;	
	color:red;
	font-style: italic;
	
}

h1 {
	font-family: 'Pacifico';
	color:red;
	text-align: center;
}


h2 {
  
  font-family:'Wendy-One';
  text-align: center;
  text-shadow: bold;
}

h3 {
	color:blue;
	text-align: center;
}

h4 {
	text-align: center;
	font color='blue';

}

h5{
	color:red;
}